[submodule "test/mls-unit-test"]
	path = test/mls-unit-test
	url = https://github.com/mls-m5/mls-unit-test
[submodule "lib/json.h"]
	path = lib/json.h
	url = https://github.com/mls-m5/json.h.git
[submodule "matmake2"]
	path = matmake2
	url = https://github.com/Laserskold/matmake2
